/*
Kandidatnummer:
193, 324,292
*/

body {
    background-color: #f9f2ec;
    color: inherit;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: #90AFC5;
    color: white;
    font-size: 30px;
}

button {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    color: black;
    background-color: #f9f2ec;
    border: 0 none;
    border-radius: 4px;
    font-size: 20px;
    font-family: Times, georgia, serif;
    font-weight: bold;
    flex: 0 0 160px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background: #336B87;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.body li {
    text-align: left;
}

.footer {
    text-align: center;
    background: #90AFC5;
    color: black;
    font-size: 12px;
}

input {
    margin: 20px;
    color: black;
    background: #f9f2ec;
    border: 0 none;
    border-radius: 4px;
    font-size: 20px;
    font-family: Times, georgia, serif;
    font-weight: bold;
    flex: 0 0 160px;
}

table {
    background: #f9f2ec;
    color: inherit;
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
}

th {
    height: 40px;
}

tr:nth-child(odd) {
    background: #90AFC5;
    color: inherit;
}

tr:nth-child(even) {
    background: #f9f2ec;
    color: inherit;
}

.marked {
    background: green;
    color: inherit;
}

.markedEqual {
    background: gold;
    color: inherit;
}

p {
    font-family: Times, georgia, serif;
    font-size: 20px;
    font-weight: bold;
}

#nede {
    font-family: Times, georgia, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
}

li {
    list-style-type: none;
}


@media (max-width: 760px) {
    table {
        white-space: nowrap;
        font-size: 0;
        flex-wrap: nowrap;
        display: flex;
    }

    table * {
        font-size: 1rem;
    }

    tbody {
        display: flex;
    }

    tr {
        display: flex;
        flex-direction: column;
    }

    th,
    td {
        padding: .5rem;
        flex: 1 1;
    }
}
